a{
	text-decoration: none;
}
header {
	background-color: #FEC63E;
	padding: 15px 0;
	border:  2px solid black;
}
.menu {
	display: inline-block;
	margin-top: 30px;
	text-align: right;
}
.menu li {
	display: inline-block;
}
.menu li a {
	color: black;
	font-weight: bold;
	font-size: 18px;
	padding: 10px;
	text-transform: uppercase;
}
.menu li a:hover{
	color: #FFF;
	text-shadow: 5px 5px 8px gray;
	
}
.comeco{
	background-image: url('../img/bg-contato.jpg');
	height: 200px;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	padding-top: 45px;
}
.comeco h1 {
	text-transform: uppercase;
	color: white;
	font-size: 45px;
	text-shadow: 0px 0px 10px black;
	font-weight: bold;
	font-family: arial;
}
.comeco p{
	color:white;
	margin: 15px auto;
	letter-spacing: .1em;
	line-height: 30px;
	font-size: 20px;
}
.comeco p::before{
	content: "";
	width: 60px;
	height: 4px;
	display: block;
	background-color: #FFF;
	margin: 15px auto;
}
.formulario{
	margin-top: 70px;
	font-size: 25px;
}
.formulario h2{
	color:#FEC63E;
	text-transform: uppercase;
	font-size: 25px;
	padding-top: 30px;
}
.formulario p{
	padding-top: 20px;
}
.parte1{
	font-weight: bold;
}
input, select{
	height: 40px;
	outline-color: #FEC63E;
	border: 5px solid #FEC63E;
}
textarea{
	outline-color: #FEC63E;
	border: 5px solid #FEC63E;
}
.parte2{
	width: 50%;
}
.btn {
	border: 3px solid #FEC63E;
	color: #FEC63E;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	transition: 1s;
}
.btn:hover{
	border: 3px solid black;
	color: black;
	padding: 12px 35px;
	font-size: 18px;
	transition: 1s;
}
.selecao{
	width: 300px;
}
iframe{
	margin: 60px auto;
	margin-left: 180px;
	border: 3px solid black;
}
.frase2{
	background-image: url('../img/bg-footer.jpg');
	height: 300px;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 30px;
}
.frase2 p, .frase2 cite{
	color: white;
	width: 30%;
	font-weight: bold;
	margin: auto;
	text-align: center;
	letter-spacing: .1em;
	line-height: 30px;
}
.frase2 cite{
	margin-left: 825px;
	text-transform: uppercase;
	text-align: center;
}
.frase2 p::before, .frase2 p::after {
	content: "";
	width: 100px;
	height: 4px;
	display: block;
	background-color: #FFF;
	margin: 30px auto;
}
.rodape{
	background-color: black;
	color: white;
}
.rodape h2{
	color: #FEC63E;
	font-size: 25px;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: .1em;
	font-family: arial;
	margin-top: 50px;
	padding-bottom: 20px;
}
.rodape p {
	color: white;
	font-size: 20px;
	width: 70%;
	padding-top: 2px;
	margin-bottom: 20px;
}
.rodape a {
	border: 3px dotted #FEC63E;
	color: #FEC63E;
	padding: 20px 20px;
}
.rodape h2::after {
	content: "";
	width: 150px;
	height: 5px;
	display: block;
	background-color: #FEC63E;
	margin-top: 10px;
}
.final {
	background-color: #FEC63E;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	font-family: arial;
	padding-top: 20px;
}